version: '3.8'

services:
  postgres:
    image: postgres:17
    container_name: postgres-studentdb
    environment:
      POSTGRES_DB: studentdb
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: